
.nav-container {
  margin: 1.5em 0;
}

.nav-btn {
  border-style: none;
  height: 2em;
}

.nav-active {
  background-color: var(--color-light-blue);
}

.nav-inactive {
  background-color: var(--color-0);
}

