:root {
  --color-0: #edf6f9;
  --color-1: #caf0f8;
  --color-2: #1E90FF;
}

body {
  background-color: var(--color-0);
}

.btn:hover {
  background-color: var(--color-1);
  color: black;
}

.tag {
  margin: 0.1em 0.2em;
  padding: 0.15em 0.2em;
  border-style: solid;
  border-radius: 0.3em;
  border-width: 0.1em;
  background-color: var(--color-1);
  transition: transform .15s linear;
  position: relative;
  display: block;
}

.tag:hover, .tag:focus {
  background-color: rgb(224, 255, 255, 0.3);
  transform: scale(1.03);
}

.passage-text-para {
  font-size: 1.5em;
  line-height: 1.5em;
  text-indent: 2em;
  color: #111;
}

.lem-blank {
  color: var(--color-2);
}

.hint-container {
  color: #000;
  position: fixed;
}

.hint {
  border-style: solid;
  border-color: var(--color-0);
  border-radius: 0.2em;
  padding: 0 0.3em;
}

.lem-input:focus {
  border-color: #00FFFF;
  box-shadow: none;
}

.sel-word-block {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.1em 0em;
  text-align: center;
}

.def-name {
  font-size: 1.4em;
}

.def {
  margin: 0.2em 0em;
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 0 1em;
  white-space: pre-line;
}

.text-hide {
  color: var(--color-1);
}

.word-def-row {
  margin: .75em 0;
  /*border-style: solid;*/
  border-radius: .8em;
  /*border-width: 0.15em;*/
  background-color: var(--color-1);
}

.block-space {
  margin: 1em 0;
}

.button-holder {
  padding: 0.3em 0.5em;
}

.img-play {
  height: 1.5em;
  width: 1.5em;
  transition: transform .15s linear;
}

.img-play:hover {
  transform: scale(1.05);
}

::placeholder {
  color: rgb(30, 144, 255, 0.2);
  opacity: 1;
}

.selected {
  background-color: var(--color-1);
  border-radius: .2em;
}

