<html>

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
  <link rel="shortcut icon" type="image/png" href="../../static/pictures/favicon.svg"/>
  <title>Error</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h1 style="margin: 30px 0">{% autoescape off %}{{ error_message | linebreaksbr }}{% endautoescape %}</h1>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</body>

</html>