<html>
{% load static %}
{% load i18n %}
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script>
    var csrf_token = "{{ csrf_token }}";
  </script>
  <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
  <title>passage-select</title>
</head>


<body>
  <!-- language control form -->
  {% get_available_languages as LANGUAGES %}
  <form style="display: none;" id="testform" method='post'>
    {% csrf_token %}
    <select id="language" name="language">
      {% for lang in LANGUAGES %}
      <option value="{{ lang.0 }}" > {{ lang.1 }}</option>
      {% endfor %}
    </select>
  </form>
  <!-- END language control form -->
  <div class="container">
    <div class="row">

      <div class="col-2"></div>
      <!-- main column -->
      <div class="col-8">
        <header>
          <div class="input-group">
            <button class="btn btn-outline-secondary set-lang-btn" type="button" onclick="set_lang('zh-hans')">中</button>
            <button class="btn btn-outline-secondary set-lang-btn" type="button" onclick="set_lang('en')">En</button>
          </div>
          <a href="/">Author page</a>
        </header>

        <h1>{% trans "Dictionary" %}</h1>
        <div class="row">
          <div class="col-9">
            <input type="text" class="form-control" id="lemma_search_input">
          </div>
          <div class="col-3">
            <button class="btn btn-outline-dark col-12" id="search_word_btn" onclick="search_word()">{% trans "Search" %}</button>
          </div>
        </div>

        <div class="div-blank"></div>

        <h1>{% trans "Select Passage" %}</h1>
        <!-- passage list -->
        <table class="table table-hover">
          <thead>
            <td>{% trans "Passage" %}</td>
            <td>{% trans "Author" %}</td>
            <td>
              {% trans "Difficulty" %}
              <span class="tooltip_img_holder" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title='{% trans "difficulty in U.S. grade level (Flesch–Kincaid grade level)" %}'>
                <img class="tooltip-img-small" src="../../static/pictures/help_48.png"/>
              </span>
            </td>
          </thead>
          <tbody>
            {% for passage in passages %}
            <tr class="sel-passage-tr" onclick="window.location.href = '/passage/?p_id={{ passage.id }}'">
              <td>{{ passage.title }}</td>
              <td>{{ passage.author }}</td>
              <td style="text-align:center">{{ passage.difficulty|floatformat:"0" }}</td>
            </tr>
            {% endfor%}
          </tbody>
        </table>
        <!-- END passage list -->
      </div>
      <!-- END main column -->
      <div class="col-2"></div>
    </div>
  </div>
  <script src="../../static/javascript/word_search.js"></script>
  <script src="../../static/javascript/language-setting.js"></script>
  <script src="../static/javascript/bootstrap-tooltip.js"></script>

</body>

</html>