<html>
{% load i18n %}

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
  <link rel="stylesheet" type="text/css" href="../../static/style/login.css">
  <link rel="shortcut icon" type="image/png" href="../../static/pictures/favicon.svg"/>
  <title>{% trans "Login" %} | A</title>
  <script>
    var init_page = "{{ init_page }}";
  </script>
</head>

<body class="bg-img">
  <header class="bg-img">
    <!-- <img class="header-img" src="../../static/pictures/header-img.jpg"> -->
  </header>

  <div style="width: 30em; margin: auto;" class="align-items-center">
    
    <!-- nav -->
    <div class="row nav-container">
      <div 
        class="btn btn-outline-secondary col-6 nav-btn nav-active"
        onclick="to_login()"
        id="login-nav-btn"
      >Login</div>
      <div 
        class="btn btn-outline-secondary col-6 nav-btn"
        onclick="to_register()"
        id="register-nav-btn"
      >Register</div>
      
    </div>
    <!-- END nav -->
    <!-- login -->
    <div
      id="login-container"
      role="tabpanel"
      aria-labelledby="tab-login"
    >
      <form method="post" action="/login_action/">

        <!-- Email input -->
        <label class="form-label" for="loginName">Username</label>
        <input type="" id="loginName" name="username" class="form-control" />

        <!-- Password input -->
        <label class="form-label" for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="password" class="form-control" />

        <!-- error info -->
        <div class="error-msg" id="login-error-msg">{{ login_error }}</div>

        <!-- Submit button -->
        <div class="div-blank"></div>
        <button type="submit" class="btn btn-outline-secondary col-12">Sign in</button>
        {% csrf_token %}
      </form>
    </div>
    <!-- END login -->
    <!-- register -->
    <div style="display: none;" id="register-container">
      <form method="post" action="/register_action/">
        <!-- Name input -->
        <label class="form-label" for="registerName">Name</label>
        <input type="text" id="register-name" name="name" class="form-control" />

        <!-- Username input -->
        <label class="form-label" for="registerUsername">Username</label>
        <input type="text" id="register-user" name="username" class="form-control" />

        <!-- Password input -->
        <label class="form-label" for="register-password-1">Password</label>
        <input type="password" id="register-password-1" name="password" class="form-control" />

        <!-- Repeat Password input -->
        <label class="form-label" for="register-password-2">Repeat password</label>
        <input type="password" id="register-password-2" name="password2" class="form-control" />

        <!-- error info -->
        <div class="error-msg" id="register-error-msg">{{ register_error }}</div>

        <!-- submit btn -->
        <div class="div-blank"></div>
        <button type="submit" class="btn btn-outline-secondary col-12" onclick="return check_register_info()">Register and Sign in</button>
        {% csrf_token %}
      </form>
    </div>
    <!-- END register -->
  </div>

  <script src="../static/javascript/login.js"></script>
</body>

</html>
