<html>

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script>
  var p_id = {{ p_id|safe }}, 
      pre_word_list = {{ words|safe }},
      csrf_token = "{{ csrf_token }}";
  </script>
  <style>
  .word {
      font-size: 1.25em;
      line-height: 1.5em;
      margin: 0.2em;
  }
  </style>
  <title>word-select</title>
</head>

<body>
  <div class="container" style="margin: 3em;">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h1 style="margin: 0.5em 0">Select the Words You Don't Know</h1>
        <button class="btn btn-outline-dark col-12" style="margin: 30px 0" onclick="submit()">Next</button>
        <!-- <label for="lem_rank_filter" class="form-label">Filter</label> -->
        <input type="range" class="form-range" id="lem_rank_filter" onchange="filter_select()">
        <div class="well" id="word_holder"></div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <script src="../static/javascript/select-words.js"></script>
</body>

</html>