<html>

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script>
  var p_id = {{ p_id|safe }}, 
      pre_word_list = {{ words|safe }},
      csrf_token = "{{ csrf_token }}";
  </script>
  <style src="../static/style/main.css"></style>
  <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
  <title>word-select</title>
</head>

<body>
  <div class="container" style="margin: 3em;">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <!-- <button class="btn btn-outline-dark col-12" style="margin: 30px 0" onclick="submit()">Read first</button> -->
        <h1 style="margin: 0.5em 0">Select the Words You Don't Know</h1>
        <p>Hold down Shift and move mouse over words to select (or just click)</p>
        <p>Hold down Alt/Option and move mouse over words to unselect (or just click again)</p>
<!--         <button class="btn btn-outline-dark col-12" style="margin: 30px 0" onclick="submit()">Just read passage</button> -->
        <button class="btn btn-outline-dark col-12" style="margin: 30px 0" onclick="submit()">Next</button>
        <!-- <label for="lem_rank_filter" class="form-label">Filter</label> -->
        <input type="range" class="form-range" id="lem_rank_filter" onchange="filter_select()">
        <div class="well" id="word_holder"></div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <script src="../static/javascript/select-words.js"></script>
</body>

</html>

