<html>
{% load i18n %}
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script>
  const p_id = {{ p_id | safe }},
    lemmas_id = {{ lemma_id | safe }},
    lem_cnt = {{ lem_cnt | safe }},
    csrf_token = "{{ csrf_token }}";
  </script>
  <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
  <link rel="shortcut icon" type="image/png" href="../../static/pictures/favicon.svg"/>
  <title>{% trans "Definition" %} | A </title>
</head>

<body>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="block-space">
        <div class="row">
          <div class="col-4 button-holder">
            <button class="btn btn-outline-dark col-12" onclick="shuffle()">
              {% trans "Shuffle" %}
            </button>
          </div>
          <div class="col-8 button-holder">
            <button class="btn btn-outline-dark col-12" onclick="change_defs_show_state('btn_change_defs_show_state')" id="btn_change_defs_show_state">
              {% trans "Show English Definition" %}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-3 button-holder">
            <button class="btn btn-outline-dark col-12" onclick="flip_all('btn_flip_words', 'word_name_')" id="btn_flip_words">
              {% trans "Hide All Words" %}
            </button>
          </div>
          <div class="col-9 button-holder">
            <button class="btn btn-outline-dark col-12" onclick="flip_all('btn_flip_defs', 'word_defs_')" id="btn_flip_defs">
              {% trans "Hide All Definitions" %}
            </button>
          </div>
        </div>
      </div>
      <div class="container row" id="def_holder">
        {% for lem in lemmas %}
        <div class="row word-def-row" name="def-row">
          <div class="col-3 def-name" id="word_name_{{ lem.id }}" onclick="click_event('word_name_{{ lem.id }}')">
            {{ lem.name }}
          </div>
          <div class="col-8" id="word_defs_{{ lem.id }}" onclick="click_event('word_defs_{{ lem.id }}')">
            <div class="row def" id="def_en_{{ lem.id }}">
              <p>{{ lem.def_en }}</p>
            </div>
            <div class="row def" id="def_zh_{{ lem.id }}">
              <p>{{ lem.def_zh }}</p>
            </div>
          </div>
          <div class="col-1">
            <img class="img-play" src="../../static/pictures/play.png" onclick="play_audio({{ lem.id }}, '{{ lem.name }}')" />
            <audio id="word_audio_{{ lem.id }}" src="https://ssl.gstatic.com/dictionary/static/sounds/oxford/{{ lem.name }}--_gb_1.mp3" onloadeddata="word_audio_loded.add({{ lem.id }})"/>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="block-space">
        <div class="block-space">
          <h1 class="row">{% trans "Test" %}</h1>
          <div class="row">
            <div class="col-4 button-holder">
              <button type="button" class="btn btn-outline-dark btn-lg col-12" onclick="next('choice-grammar')">{% trans "Easy" %}</button>
            </div>
            <div class="col-4 button-holder">
              <button type="button" class="btn btn-outline-dark btn-lg col-12" onclick="next('choice')">{% trans "Medium" %}</button>
            </div>
            <div class="col-4 button-holder">
              <button type="button" class="btn btn-outline-dark btn-lg col-12" onclick="next('blank')">{% trans "Hard" %}</button>
            </div>
          </div>
        </div>

        <div class="block-space">
          <h1 class="row">{% trans "Export" %}</h1>
          <div class="row">
            <div class="col-6">
              <select class="form-select" id="export_option">
                <option selected value="null">{% trans "Select Export Format" %}</option>
                <option value="wtE Zn">Quizlet</option>
                <option value="wn">不背单词</option>
              </select>
            </div>
            <div class="col-6 button-holder">
              <button type="button" class="btn btn-outline-dark col-12" onclick="export_words()">{% trans "Export Words" %}</button>
            </div>
          </div>
        </div>

        <div class="row" id="export_copy_textarea_block" style="display: none;">
          <form>
            <div class="form-group">
              <button type="button" class="btn btn-outline-dark" onclick="copy_to_clipboard()">{% trans "Copy to clipboard" %}</button>

              <textarea class="form-control" id="export_copy_textarea" rows="10"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <script src="{% url 'javascript-catalog' %}"></script>
  <script src="../../static/javascript/show-definition.js"></script>
</body>

</html>