<html>
{% load i18n %}
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <title>test passage</title>
  <link rel="stylesheet" type="text/css" href="../../static/style/main.css">
  <link rel="stylesheet" type="text/css" href="../../static/style/test-page.css">
  <script>
    {% autoescape off %}
    var ans = {{ ans }};
    {% endautoescape %}
  </script>
</head>

<body>
  <div class="container">
    <h1 style="text-align: center; margin: 1em 0">{{ passage_title }}</h1>

    <div class="row">
      <div class="col-2">
        <div class="hint-container">
          {% for lem_id, lem_name, words_list in hints %}
            {% for word, word_id in words_list %}
            <div class="row">
              <div class="col-8">
                <div class="row hint" id="hint_{{ word_id }}" onclick="click_hint({{ word_id }}, '{{ word }}')">
                  {{ word }}
                </div>
              </div>
              <div class="col-2" style="margin-top: 0.3em;">
                <img class="img-play" src="../../static/pictures/play.png" onclick="play_audio({{ word_id }}, '{{ word }}')" />
                <audio id="word_audio_{{ word_id }}" src="https://ssl.gstatic.com/dictionary/static/sounds/oxford/{{ word }}--_gb_1.mp3" onloadeddata="word_audio_loded.add({{ word_id }})"/>
              </div>
            </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="col-8 passage-text">
        {% autoescape off %}{{ passage_text }}{% endautoescape %}
        <div class="row">
          <div class="col-2"></div>
          <button class="btn btn-outline-dark col-8" style="margin: 30px 0" onclick="check()">{% trans "check" %}</button>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

  </div>
  <script src="../../static/javascript/test-standard.js"></script>
</body>

</html>