<html>

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
  <title>test passage</title>
  <style>
  .passage-text {
    font-size: 1.5em;
    line-height: 1.5em;
    text-indent: 2em;
    color: #111;
    /*lem-wrap: break-lem;*/
  }

  .lem-blank {
    color: rgb(30, 144, 255);
    /*padding: 0.1em 0.4em;*/
    /*height: 1em;*/
  }

  .hint-container {
    color: #000;
    position: fixed;
    /*overflow-x: hidden;
    z-index: 1;*/
  }

  .hint-sub {
    font-size: 0.7em;
  }

  .lem-input:focus {
    border-color: #00FFFF;
    box-shadow: none;
  }
  </style>
  <script>
  var ans = {{ ans }};
  </script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <div class="hint-container">
          {% for lem, lem_id in hints %}
          <div class="row">
            <div class="col-8">
              <div class="row" id="hint_{{ lem_id }}" onclick="click_hint({{ lem_id }}, '{{ lem }}')">
                {{ lem }}
              </div>
            </div>
            <div class="col-2" style="margin-top: 0.3em;">
              <img class="img-play" src="../../static/pictures/play.svg" onclick="play_audio({{ lem_id }}, '{{ lem }}')" />
              <audio id="word_audio_{{ lem_id }}" src="https://ssl.gstatic.com/dictionary/static/sounds/oxford/{{ lem }}--_gb_1.mp3" onloadeddata="word_audio_loded.add({{ lem_id }})"/>
            </div>
          </div>
            <!-- {% for word_name in word_name_list %}
              <div class="row hint-sub">
                - {{ word_name }}
              </div>
            {% endfor %} -->
          {% endfor %}
        </div>
      </div>

      <div class="col-8">
        <h1 style="text-align: center; margin: 1em 0">{{ passage_title }}</h1>
        {% autoescape off %}{{ passage_text }}{% endautoescape %}
        <div class="row">
          <div class="col-2"></div>
          <button class="btn btn-outline-dark col-8" style="margin: 30px 0" onclick="check()">check</button>
          <div class="col-2"></div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <script src="../../static/javascript/test-passage.js"></script>
</body>

</html>