:root {
  /* light */
  --color-0: #edf6f9;
  /*--color-0: #FFFFFF;*/
  --color-1: #caf0f8;
  --color-2: #1E90FF;
  --color-3: #4256B1;

  --color-light-blue: #daecf3;
}


body {
  background-color: var(--color-0);
  font-family: Helvetica;
}

body.bg-img {
  background-image: url('../../static/pictures/1_1.jpg');
  background-repeat: no-repeat;
  background-size: 170%;
  background-color: rgba(237, 246, 249, .95);
  background-blend-mode: lighten;
}

h1,
h2 {
  margin: 1em 0 .5em 0;
}

h1 {
  font-size: 2em;
  font-family: Helvetica;
}

h2 {
  font-family: Arial;
  font-size: 1.5em;
}

/*p {
  font-family: Times;
}*/

a {
  text-decoration: none;
  color: var(--color-2);
}

a:hover {
  text-decoration: underline;
}

select {
  background-color: var(--color-0);
  margin: 0;
  border-style: none;
  font-size: .9em;
}

select:focus {
  border-style: none;
  outline: none;
}


header.bg-img {
  background-color: var(--color-1);
  background-image: url('../../static/pictures/header-img-3.svg');
  /*background-image: url('../../static/pictures/3.jpeg');*/
  width: 100%;
  height: 10em;
}


div.passage-text-container, div.quiz-container {
  font-family: Arial;
  font-size: 1.2em;
  text-indent: 2em;
  color: #111;
}

div.passage-text-para {
  margin: 0 0 1em 0;
}

.btn {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*multiple choice quiz*/
.blank_num {
  color: var(--color-3);
  font-weight: bold;
  font-family: Georgia;
  font-size: 1em;
}

.blank_word {
  /*text-decoration: underline;
  color: var(--color-3);*/
}

.ans-correct {
  color: green;
}

.ans-wrong {
  color: red;
}


.author {
  text-align: center;
}


.blank {
  text-decoration: underline;
  color: var(--color-3);
}

.quiz {
  margin-left: 2.5em;
  text-indent: 0;
  display: flex;
}

.option-check {
  margin-top: .5em;
}

.option-label {
  padding-left: 1em;
}


.word-search-input, .btn{
  border-radius: .75em;
}


.btn:hover {
  background-color: var(--color-1);
  color: black;
}

.sel-passage-tr {
  height: 3em;
}

.tag {
  margin: 0.1em 0.2em;
  padding: 0.15em 0.2em;
  border-style: solid;
  border-radius: 0.3em;
  border-width: 0.1em;
  background-color: var(--color-1);
  transition: transform .15s linear;
  position: relative;
  display: block;
}

.tag:hover,
.tag:focus {
  background-color: rgb(224, 255, 255, 0.3);
  transform: scale(1.03);
}

.lem-blank {
  color: var(--color-2);
}

.hint-container {
  color: #000;
  position: fixed;
}

.hint {
  border-style: solid;
  border-color: var(--color-0);
  border-radius: 0.2em;
  padding: 0 0.3em;
}

.lem-input:focus {
  border-color: #00FFFF;
  box-shadow: none;
}

.sel-word-block {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0.1em 0em;
  text-align: center;
  border-radius: .2em;
}

.def-name {
  font-size: 1.4em;
}

.def {
  margin: 0.2em 0em;
  font-size: 1.2em;
  line-height: 1.3em;
  padding: 0 1em;
  white-space: pre-line;
}

.text-hide {
  color: var(--color-1);
}

.word-def-row {
  margin: .75em 0;
  border-radius: .8em;
  background-color: var(--color-1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.block-space {
  margin: 1em 0;
}

.div-blank {
  height: 1em;
}

.button-holder {
  padding: 0.3em 0.5em;
}

/* bootstra tooltip \ */
.tooltip-img {
  height: 1.5em;
  width: 1.5em;
}

.tooltip-img-small {
  height: 1em;
  width: 1em;
}

.tooltip_img_holder {
  display: inline-block;
}

.img-play {
  margin: 1em 0 0 0;
  height: 1.5em;
  width: 1.5em;
  transition: transform .15s linear;
}

.img-play:hover {
  transform: scale(1.15);
}

::placeholder {
  color: rgb(30, 144, 255, 0.2);
  opacity: 1;
}

.selected {
  background-color: var(--color-1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.set-lang-btn {
  margin: 1em 0;
  font-size: .6em;
  width: 4em;
  /*height: 2.5em;*/
}


.error-msg {
  color: red;
}

.nav {
  margin: 1em 0;
  padding: 0em 1em;
}

.view-count {
  color: #2f4f4f;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}